@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-lato: var(--font-lato);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato);
}
.search-bg-gradient {
  border: 1px solid;
border-image-source: linear-gradient(90.57deg, rgba(255, 255, 255, 0.31) 4.3%, rgba(255, 255, 255, 0) 100%);
backdrop-filter: blur(29px)


}

.featured-border {
  border: 1px solid;

border-image-source: linear-gradient(111.99deg, rgba(255, 255, 255, 0.28) 0.74%, rgba(255, 255, 255, 0) 96.98%);


}